.fl-header-mark {
    display: inline-block;
    float: left;
    margin-top: 18px;
    margin-right: 15px;
    width: 100px;
    height: 35px;
    background-image: url('../images/freisticLogo.png');
    background-position: center center;
    background-repeat: no-repeat;
	background-size: 100px 35px;
}