.container
  .contents
    .footer-left
      .logo-copyright
        .copyright &copy; Copyright 2018 Frieistic.
      .t-and-c
        a(href='') Legal
        |&nbsp; &nbsp; &nbsp; &nbsp;
        a(href='') Support
    .footer-right
      .contact-us
        .contact-methods
          div
            a(href='') Contact Us